
@{
    ViewBag.Title = "CheckoutCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check out Cancel</h2>

<h4 class="text-danger">You have canceled your order....</h4>
<a href="@Url.Action("Index","Home")">Go To Home..</a>