@{
    ViewBag.Title = "About";
}

<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- ABOUT SECTION START -->
    <div class="about-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left ">
                        <h2 class="uppercase">about Mobile Phone Mart</h2>
                        <h6 class="mb-40">There are many variations of passages of brands available,</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="about-photo p-20 bg-img-1">
                        <img src="~/Content/DefaultImages/Logo/logo1.png" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-description mt-50">
                        <p>
                            The system “Online Mobile Phone Mart” is a multi-vendor ecommerce marketplace of mobile phones. All the trading of the products are managed with the help of this plateform i.e. their Items available for sale, stock information & their report generation as well as with the help of this plateform the end user can purchase mobile phones via online payment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT SECTION END -->
    <!-- TEAM SECTION START -->
    <div class="team-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left ">
                        <h2 class="uppercase">Team Members</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-team-member col-md-offset-2">
                    <!-- team-member start -->
                    <div class="col-md-12">
                        <div class="box-shadow bg-shape">
                            <div class="team-member-photo">
                                <img src="~/Content/DefaultImages/Uzair1.jpg" height="350" width="250"/>
                            </div>
                            <div class="team-member-info pt-20">
                                <h5 class="member-name"><a href="#">Uzair Ashraf</a></h5>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/Uzair44" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="https://plus.google.com/collections/?hl=en" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://twitter.com/Uzair__Ashraf" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team-member end -->
                    <!-- team-member start -->
                    <div class="col-md-12">
                        <div class="box-shadow bg-shape">
                            <div class="team-member-photo">
                                <img src="~/Content/DefaultImages/hassaan.jpg"  height="350" width="250" />
                            </div>
                            <div class="team-member-info pt-20">
                                <h5 class="member-name"><a href="#">Hassaan Raza</a></h5>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/hassaan.raza1" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="https://plus.google.com/u/0/104555953339129275256" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="https://twitter.com/HassaanRaza1" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team-member end -->
                    <!-- team-member start -->
                    <div class="col-md-12">
                        <div class="box-shadow bg-shape">
                            <div class="team-member-photo">
                                <img src="~/Content/DefaultImages/behzad.jpg" height="350" width="250" />
                            </div>
                            <div class="team-member-info pt-20">
                                <h5 class="member-name"><a href="#">Behzad Bhatti</a></h5>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="https://www.facebook.com/hafiz.behzad" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    
                                    <li>
                                        <a class="twitter" href="https://twitter.com/behzadbhatti2" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team-member end -->
                </div>
            </div>
        </div>
    </div>
    <!-- TEAM SECTION END -->
</section>
<!-- End page content -->
