
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page404</h2>
<h3>@ViewBag.message</h3>
<div class="col-md-12">
    <div class="error-404 box-shadow">
        <img src="img/others/error.jpg" alt="">
        <div class="go-to-btn btn-hover-2">
            <a href="@Url.Action("Index","Home")">go to home page</a>
        </div>
    </div>
</div>

