
@{
    Layout = null;
}

<div class="col-md-2 col-sm-12">
    <ul class="cart-tab">
        <li>
            <a class="active" href="#shopping-cart" data-toggle="tab">
                <span>01</span>
                Shopping cart
            </a>
        </li>
        <li>
            <a href="#wishlist" data-toggle="tab">
                <span>02</span>
                Wishlist
            </a>
        </li>
        <li>
            <a href="#checkout" data-toggle="tab">
                <span>03</span>
                Checkout
            </a>
        </li>
        <li>
            <a href="#order-complete" data-toggle="tab">
                <span>04</span>
                Order complete
            </a>
        </li>
    </ul>
</div>
