
@{
    Layout = null;
}

<div class="col-md-2 col-sm-12">
    <ul class="cart-tab">
        <li>
            <a class="active" href="#shopping-cart" data-toggle="tab">
                <span>01</span>
                Shopping cart
            </a>
        </li>
        <li>
            <a href="#checkout" data-toggle="tab">
                <span>02</span>
                Checkout
            </a>
        </li>
     </ul>
</div>
